/* General Variables */
:root {
--main-font: 'Quicksand', sans-serif;
--content-font: Roboto, sans-serif;
--h3-font: 'Dancing Script', cursive;
--main-color: #2C3E50;
--icon-color: #95e1d3;

}

/* General Styles */
body {
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	section {display: block;} 
	h1, h2, h3, h4, h5, h6, ul, li {
		margin: 0;
		padding: 0;
	}
	h1 {
		font-family: var(--main-font);
		font-weight: 700;
		text-transform: uppercase;
	}
	h2 {
		font-family: var(--main-font);
		font-size: 1.875em;
		font-weight: 700;
		text-transform: uppercase;
	}
	h3 {
		font-family: var(--h3-font);
		font-size: 1.5em;
		font-weight: 400;
	}
	h4 {
		font-family: var(--main-font);
		font-size: 0.875em;
		font-weight: 400;
		text-transform: uppercase;
	}
	p {
		line-height: 150%;
		font-family: var(--content-font);
		font-size: 0.9375em;
		color: #999;
	}
	li {list-style-type: none;}
	a {text-decoration: none;}
}

.main-logo img {
    height: 50px; /* Adjust this height as needed */
    width: auto; /* Keeps aspect ratio */
    display: block; /* Removes any inline spacing */
}
.header-wrapper {
    display: flex;
    align-items: center; /* Vertically aligns logo and menu */
    justify-content: center; /* Ensures proper spacing */
    width: 100%;
    padding-top: 1em;
    position: relative;
}

.main-logo {
    margin-right: auto; /* Pushes the menu to the right */
}

.bg-wrapper {
	width: 100%;
	height: 100%;
}
.section-header {
	padding-top: 5.625em;
	text-align: center;
	h3 {margin-bottom: 0.5em;}
	.line-red {margin: 2.5em auto 2.9375em auto;}
}
.line-red {
	display: block;
	width: 4em;
	height: 0.1875em;
	margin: 0 auto;
	background: #f38181;
}

/* Main Header Styles */
.main-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
	font-family: var(--main-font);
	color: var(--main-color);
	background: transparent;
	.header-wrapper {
		display: block;
		width: 70%;
		margin: 0 auto;
		padding-top: 1em;
		.main-logo {
			float: left;
			font-weight: 700;
			font-size: 1.875em;
		}
		.main-menu {
			float: right;
			text-align: center;
			li {
				display: inline-block;
				padding: 0.75em 1.875em;
				a {
					padding-bottom: 0.75em;
					text-transform: uppercase;
					color: var(--main-color);
					font-size: 0.875em;
					&:hover {
						color: #fce38a;
						border-bottom: 0.1875em solid #fce38a;
						transition: .1s;
					}
					span {font-size: 1.2em;}
				}
				&:last-child {padding: 0.75em 0;}
				&:nth-child(6) a:hover, &:last-child a:hover {border: none;}
			}
		}
	}
}

/* Section-1 Styles */
#section-1 {
	height: 38em;
	color: var(--main-color);
	.content-slider {
		position: relative;
		width: 100%;
		height: 100%;
		input {display: none;}
		.slider {
			position: relative;
			width: inherit;
			height: inherit;
			overflow: hidden;
			.banner {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 0;
				width: inherit;
				height: inherit;
				text-align: center;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				transition: all .5s ease;
				.banner-inner-wrapper {
					height: 100%;
					padding-top: 6em;
					box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center; /* Adjust alignment */
                    padding-top: 10em; /* Move down */
					h2 {
						padding-bottom: 0.3em;
						font-family: var(--h3-font);
						font-weight: 400;
						font-size: 2.5em;
						text-transform: none;
					}
					h1 {
						font-size: 6em;
						line-height: 95%;
					}
					.line {
							display: block;
							width: 4em;
							height: 0.1875em;
							margin: 2.5em auto;
							background: var(--main-color);
					}
					.learn-more-button {
						padding-bottom: 5em;
						z-index: 15 !important;
						a {
							padding: 0.5em 2em;
							text-align: center;
							font-family: var(--main-font);
							font-size: 0.875em;
							color: var(--main-color);
							text-transform: uppercase;
							border: 0.1875em solid var(--main-color);
							&:hover {
								color: #e88382;
								border-color: #e88382;
								transition: .3s;
							}
						}
					}
				}
			}
			#top-banner-1 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-1.png') no-repeat center center; background-size: cover;}
			#top-banner-2 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-2.png') no-repeat center center; background-size: cover;}
			#top-banner-3 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-3.png') no-repeat center center; background-size: cover;}
			#top-banner-4 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-4.png') no-repeat center center; background-size: cover;}
		}
		nav {
			position: absolute;
			bottom: 0.5em;
			width: 100%;
			z-index: 10;
			text-align: center;
			.controls {
				display: block;
				width: 70%;
				margin: 0 auto;
				font-family: var(--main-font);
				color: var(--main-color);
				label {
					position: relative;
					display: inline-block;
					width: 20%;
					height: 3.1em;
					overflow: hidden;
					margin: 0 1em;
					padding-top: 1em;
					text-align: left;
					text-transform: uppercase;
					font-family: var(--main-font);
					font-size: 1em;
					color: #f6eac5;
					font-weight: 400;
					cursor: pointer;
					transition: all .3s;
					.progressbar {
						position: absolute;
						top: 0;
						left: 0;
						height: 3px;
						width: 100%;
						background: #f6eac5;
						z-index: 100;
						.progressbar-fill {
							position: inherit;
							width: inherit;
							height: inherit;
							margin-left: -100%;
							background: #e88382;
						}
					}
					span {
						font-size: 1.4em;
						font-weight: 700;
					}
					&:hover {color: #e88382;}
				}
			}
		}
		#banner1:checked ~ .slider #top-banner-1,
		#banner2:checked ~ .slider #top-banner-2,
		#banner3:checked ~ .slider #top-banner-3,
		#banner4:checked ~ .slider #top-banner-4 {
			opacity: 1;
			z-index: 1;
		}
		#banner1:checked ~ nav label:nth-of-type(1),
		#banner2:checked ~ nav label:nth-of-type(2),
		#banner3:checked ~ nav label:nth-of-type(3),
		#banner4:checked ~ nav label:nth-of-type(4) {
			cursor: default;
			color: var(--main-color);
			transition: all .5s;
		}
		#banner1:checked ~ nav label:nth-of-type(1) .progressbar,
		#banner2:checked ~ nav label:nth-of-type(2) .progressbar,
		#banner3:checked ~ nav label:nth-of-type(3) .progressbar,
		#banner4:checked ~ nav label:nth-of-type(4) .progressbar {
			background: var(--main-color);
		}
		#banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
		#banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
		#banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
		#banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
			animation: progressBarFill 5s linear;
		}
	}
}

/* Animations */
@keyframes progressBarFill {
	from {margin-left: -100%;}
	to {margin-left: 0;}
}

/* Media Queries */
@media only screen and (min-width: 1920px) {
	body {font-size: 22px;}
	.main-header .header-wrapper {width: 57%;}
	#section-1 {height: 46em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 12em;}
}

@media only screen and (max-width: 1919px) {
	body {font-size: 20px;}
	.main-header .header-wrapper {width: 60%;}
	#section-1 {height: 43em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 11em;}
}

@media only screen and (max-width: 1680px) {
	body {font-size: 18px;}
	.main-header .header-wrapper {width: 65%;}
	#section-1 {height: 40em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 9em;}
}

@media only screen and (max-width: 1366px) {
	body {font-size: 16px;}
	.main-header .header-wrapper {width: 70%;}
}

@media only screen and (max-width: 1120px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 1.4em;}
	#section-1 {height: 35em;}
	#section-1 .content-slider nav {bottom: -0.2em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 7em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 2em auto;}
}

@media only screen and (max-width: 1024px) {
	body {font-size: 14px;}
	.main-header .header-wrapper .main-menu li {padding: 0.75em 1.3em;}
	#section-1 .content-slider nav {bottom: 0;}
	#section-1 .content-slider nav .controls {width: 80%;}
}

@media only screen and (max-width: 860px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 0.9em;}
	#section-1 {height: 29em;}
	#section-1 .content-slider nav {bottom: -1em;}
	#section-1 .content-slider nav .controls {width: 90%;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 2em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 4.5em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 12vh;}
}

@media only screen and (max-width: 768px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 0.5em;}
	#section-1 {height: 27em;}
	#section-1 .content-slider nav .controls {width: 100%;}
	#section-1 .content-slider nav .controls label {width: 19%; font-size: 0.8em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 1.7em auto; padding-top: 10vh;}
}

@media only screen and (max-width: 650px) {.main-header .header-wrapper {width: 95%;}}

@media only screen and (max-width: 480px) {
	.main-header .header-wrapper {width: 97%;}
	.main-header .header-wrapper .main-logo {display: none;}
	.main-header .header-wrapper .main-menu li {padding: 0.2em 0.3em;}
	.main-header .header-wrapper .main-menu li:last-child,
	.main-header .header-wrapper .main-menu li:nth-child(6) {padding: 0.2em 0.7em;}
	#section-1 {height: 26em;}
	#section-1 .content-slider nav {bottom: -0.5em;}
	#section-1 .content-slider nav .controls label {width: 40%; font-size: 0.7em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 1.5em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 3em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 1.7em auto; padding-top: 8vh;}
}